# Ignorer l'environnement virtuel
venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers CSV volumineux
csv-data/*.csv

# Ignorer les fichiers parquet volumineux dans csv-data
csv-data/*.parquet

# Ignorer les dépendances installées
*.log
.DS_Store

# Ignorer les fichiers de données volumineux dans d'autres dossiers
data/*.parquet
